@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-secondary-light;
    font-family: "Inter", sans-serif;
}
.sticky-header {
    @apply z-[9999] bg-white/80 transition;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translate(0) scale(1);
    visibility: visible;
}
.btn-primary {
    @apply rounded-md bg-primary px-5 py-2.5 text-sm font-medium text-white shadow-sm hover:bg-primary-light;
}
.btn-secondary {
    @apply rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-primary shadow-sm hover:bg-gray-200;
}
.input-box {
    @apply w-full border border-dark-5 bg-transparent p-3 text-body-color placeholder:text-body-color/60;
}
.grecaptcha-badge {
    visibility: hidden !important;
}
