---
import Aboutsection from '../components/Aboutsection.astro';
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import Team from '../components/Team.astro';
import Layout from '../layouts/Layout.astro';

const conferenceDetails = [
  'Presentation sessions',
  'Poster displays and presentations',
  'Field Trips',
  'Networking opportunities',
];

const features = [
  {
    icon: 'assets/features/icon-01.svg',
    title: 'November 5-6, 2025',
    description: 'Presentation/poster sessions',
  },
  {
    icon: 'assets/features/icon-02.svg',
    title: 'Conference Venue',
    description: 'AIT Convention Centre, Pathum Thani, Thailand',
  },
  {
    icon: 'assets/features/icon-04.svg',
    title: 'November 7-8, 2025',
    description: 'Field Trip',
  },
  {
    icon: 'assets/features/icon-03.svg',
    title: 'Location',
    description: 'Saraburi, Lopburi and Kanchanaburi provinces',
  },
  {
    icon: 'assets/features/icon-02.svg',
    title: 'Language',
    description: 'English',
  },
];

const themes = [
  'Land use and land management for Sustainable Development',
  'Innovative Food Systems and Smart Agriculture',
  'Sustainable Rural Environment and Natural Resources',
  'Rural community resilience to environmental changes',
  'Rural and agricultural heritage, socio-cultural conservation',
  'Education, Technological and Social Innovation',
  'Governance and Policy for Rural Inclusion and Sustainability',
];
---

<Layout
  description="International Geographical Union Commission on Agricultural Geography and Land Engineering (AGLE) Annual Conference 2025"
  title="About | AGLE"
>
  <Breadcrumb>
    <Fragment slot="title">About Us Page</Fragment>
  </Breadcrumb>
  <Aboutsection />
  <section class="bg-gray-1 pb-8 dark:bg-dark-2 lg:pb-[70px]">
    <div class="container">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
        <div>
          <img src="/assets/about/location.jpg" class="rounded" alt="" />
        </div>
        <div>
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold sm:text-3xl">Field Trip</h2>

            <p class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
              architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
              sequi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="py-20">
    <div class="container">
      <div class="">
        <h3 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9">
          Conference Details
        </h3>
        <p class="text-base font-semibold uppercase leading-6 text-secondary">
          "Innovation, Technological Advancement for Rural and Agricultural Resilience"
        </p>
        <ul class="mt-8 space-y-3 font-medium">
          {
            conferenceDetails.map((text) => (
              <li class="flex items-start lg:col-span-1">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <p class="ml-3 leading-5 text-gray-600">{text}</p>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="my-10">
        <h3 class="mt-2 text-2xl font-extrabold leading-8 text-gray-900 sm:text-3xl sm:leading-9">
          Conference Agenda
        </h3>
        <div class="mt-8 flex flex-wrap">
          <div class="overflow-x-auto rounded-lg border border-gray-200">
            <table class="w-full divide-y-2 divide-gray-200">
              <thead class="">
                <tr>
                  <th class="whitespace-nowrap px-4 py-2 font-medium">Date</th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium">Time</th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium">Activity</th>
                  <th class="whitespace-nowrap px-4 py-2 font-medium">Location</th>
                </tr>
              </thead>

              <tbody class="divide-y divide-gray-200">
                <tr>
                  <td class="whitespace-nowrap px-4 py-2 font-medium">Nov 5, 2025</td>
                  <td class="whitespace-nowrap px-4 py-2">10:00 AM</td>
                  <td class="whitespace-nowrap px-4 py-2">Presentation</td>
                  <td class="whitespace-nowrap px-4 py-2"
                    >AIT Convention Centre, Pathum Thani, Thailand</td
                  >
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="my-10">
        <h3 class="mt-2 text-2xl font-extrabold leading-8 sm:text-3xl sm:leading-9">
          Conference Themes
        </h3>
        <ul class="mt-8 space-y-3 font-medium">
          {
            themes.map((text) => (
              <li class="flex items-start lg:col-span-1">
                <div class="flex-shrink-0">
                  <svg class="h-5 w-5 text-secondary" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <p class="ml-3 leading-5 text-gray-600">{text}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>

  <Team />
</Layout>
