---
import About from '../components/Aboutsection.astro';
import CTA from '../components/CTAsection.astro';
import Faq from '../components/Faq.astro';
import Features from '../components/Features.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="International Geographical Union Commission on Agricultural Geography and Land Engineering (AGLE) Annual Conference 2025"
  title="AGLE"
>
  <Hero />
  <Features />
  <About />
  <section class="bg-gray-1 pb-8 dark:bg-dark-2 lg:pb-[70px]">
    <div class="container">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
        <div>
          <img src="/assets/about/location.jpg" class="rounded" alt="" />
        </div>
        <div>
          <div class="max-w-lg md:max-w-none">
            <h2 class="text-2xl font-semibold sm:text-3xl">Field Trip</h2>

            <p class="mt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloremque saepe
              architecto maiores repudiandae amet perferendis repellendus, reprehenderit voluptas
              sequi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <CTA />
  <Team />
  <Faq />
</Layout>
