---
import Breadcrumb from '../components/layout/Breadcrumb.astro';
import Layout from '../layouts/Layout.astro';

const pricings = ['Researchers from Global South: $350', 'Students: $250', 'Others: $400'];

const discounts = ['Researchers from Global South: $250', 'Students: $200', 'Others: $300'];
---

<Layout
  description="Play Astro is a free and open-source Astro template, built for SaaS, startup, business and software website. Play crafted in a way that you can use with almost all sort of web project."
  title="Registration | Agle"
>
  <Breadcrumb>
    <Fragment slot="title">Registration</Fragment>
  </Breadcrumb>

  <section class="bg-gray-100">
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div class="mb-20">
        <div class="grid place-items-center dark:bg-gray-800">
          <div class="m-auto flex w-full flex-col items-center gap-4 text-center dark:text-white">
            <h2 class="text-lg font-semibold">Registration Deadline</h2>
            <p id="pricing" class="text-3xl font-extrabold tracking-tight lg:text-4xl">
              August 15, 2025
            </p>
            <div class="flex flex-col items-center lg:flex-row">
              <div
                class="w-full rounded-lg rounded-b-none border border-b-0 bg-gray-50 shadow-sm dark:bg-gray-900/80 lg:rounded-b lg:rounded-r-none lg:border-b lg:border-r-0"
              >
                <div class="flex flex-col space-y-1.5 p-6">
                  <h3 class="text-2xl font-semibold leading-none tracking-tight">Regular</h3>
                </div>
                <div class="p-6 pt-0">
                  <ul class="list-inside list-disc">
                    {
                      pricings.map((text) => (
                        <li class="flex items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="inline-block text-green-500 dark:text-green-400"
                          >
                            <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" />
                            <path d="m9 12 2 2 4-4" />
                          </svg>
                          <span class="flex-1 text-left">{text}</span>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              </div>
              <div class="w-full rounded-lg border bg-blue-100 shadow-sm dark:bg-gray-900">
                <div class="flex flex-col space-y-1.5 p-6">
                  <div
                    class="focus:ring-ring text-foreground m-auto inline-flex w-fit items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-offset-2"
                  >
                    Until June 30, 2025
                  </div>
                  <h3 class="text-2xl font-semibold leading-none tracking-tight">
                    Early Bird Discount
                  </h3>
                </div>
                <div class="p-6 pt-0">
                  <ul class="list-inside list-disc">
                    {
                      discounts.map((text) => (
                        <li class="flex items-center gap-2">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="inline-block text-green-500 dark:text-green-400"
                          >
                            <path d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" />
                            <path d="m9 12 2 2 4-4" />
                          </svg>
                          <span class="flex-1 text-left">{text}</span>
                        </li>
                      ))
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ====== CTA Section Start -->
      <section class="relative z-10 mb-20 overflow-hidden bg-primary py-20 lg:py-[115px]">
        <div class="container mx-auto">
          <div class="relative overflow-hidden">
            <div class="-mx-4 flex flex-wrap items-stretch">
              <div class="w-full px-4">
                <div class="mx-auto max-w-[570px] text-center">
                  <h2 class="mb-2.5 text-5xl font-bold text-white md:text-[38px] md:leading-[1.44]">
                    Best Abstract Awards
                  </h2>
                  <p
                    class="mx-auto mb-6 max-w-[515px] text-base font-bold leading-[1.5] text-white"
                  >
                    Fee waivers for early-stage researchers from the Global South
                  </p>
                  <p class="mx-auto mb-6 max-w-[515px] text-sm leading-[1.5] text-white">
                    Optional Costs:<br />
                    Two days Field Trip: $100 (including Food and transportation)<br />
                    Gala Dinner: $55 (including transportation)Detail of the conference fee
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ====== CTA Section End -->

      <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
        <div class="lg:col-span-2 lg:py-12">
          <h2 class="text-lg font-semibold">Cancellation Policy</h2>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis numquam adipisci
            consequatur placeat corrupti iusto doloribus ab nihil maiores aliquam vel voluptatem
            magnam deserunt, consectetur voluptas. Ipsam vitae tempore voluptates!
          </p>
        </div>

        <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
          <form action="#" class="space-y-4">
            <h2 class="text-lg font-semibold">Personal Information</h2>
            <div>
              <label class="sr-only" for="name">Name</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Name"
                type="text"
                id="name"
              />
            </div>
            <div>
              <label class="sr-only" for="institution">Institution</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Institution"
                type="text"
                id="institution"
              />
            </div>

            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <label class="sr-only" for="country">Country</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Country"
                  type="text"
                  id="country"
                />
              </div>

              <div>
                <label class="sr-only" for="phone">Contact</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Contact Number"
                  type="tel"
                  id="phone"
                />
              </div>
            </div>

            <h2 class="text-lg font-semibold">Payment Information</h2>
            <div>
              <label class="sr-only" for="name">Bank Account Holder</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Bank Account Holder Name"
                type="text"
                id="name"
              />
            </div>
            <div>
              <label class="sr-only" for="institution">Account Number</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Account Number"
                type="text"
                id="institution"
              />
            </div>

            <div class="grid grid-cols-3 gap-4">
              <div>
                <label class="sr-only" for="country">Account Type</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Account Type"
                  type="text"
                  id="country"
                />
              </div>

              <div>
                <label class="sr-only" for="phone">Swift Code</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Swift Code"
                  type="tel"
                  id="phone"
                />
              </div>

              <div>
                <label class="sr-only" for="phone">Currency</label>
                <input
                  class="w-full rounded-lg border-gray-200 p-3 text-sm"
                  placeholder="Currency"
                  type="tel"
                  id="phone"
                />
              </div>
            </div>

            <div>
              <label class="sr-only" for="institution">Address</label>
              <input
                class="w-full rounded-lg border-gray-200 p-3 text-sm"
                placeholder="Address"
                type="text"
                id="institution"
              />
            </div>

            <div class="mt-4">
              <button
                type="submit"
                class="inline-block w-full rounded-lg bg-black px-5 py-3 font-medium text-white sm:w-auto"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</Layout>
