---
const faqs = [
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
  {
    title: 'How do I do this?',
    description:
      'It takes 2-3 weeks to get your first blog post ready. That includes the in-depth research & creation of your monthly content ui/ux strategy that we do writing your first blog post.',
  },
];
---

<!-- ====== Faq Section Start -->
<section class="bg-secondary-light relative z-20 overflow-hidden py-8 dark:bg-dark">
  <div class="container mx-auto">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[520px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary"> FAQ</span>
          <h2
            class="mb-3 text-3xl font-bold leading-[1.2] text-dark dark:text-white sm:text-4xl md:text-[40px]"
          >
            Any Questions? Look Here
          </h2>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4 lg:w-1/2">
        {
          faqs.map((faq, index) => {
            if (index % 2 !== 0) {
              return (
                <div class="wow fadeInUp mb-4 flex" data-wow-delay=".1s">
                  <div class="w-full">
                    <h3 class="font-semibold">{faq.title}</h3>
                    <p class="text-sm">{faq.description}</p>
                  </div>
                </div>
              );
            }
          })
        }
      </div>

      <div class="w-full px-4 lg:w-1/2">
        {
          faqs.map((faq, index) => {
            if (index % 2 === 0) {
              return (
                <div class="wow fadeInUp mb-4 flex" data-wow-delay=".1s">
                  <div class="w-full">
                    <h3 class="font-semibold">{faq.title}</h3>
                    <p class="text-sm">{faq.description}</p>
                  </div>
                </div>
              );
            }
          })
        }
      </div>
    </div>
  </div>

  <div>
    <span class="absolute left-4 top-4 -z-[1]">
      <svg
        width="48"
        height="134"
        viewBox="0 0 48 134"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#13C296"
        ></circle>
        <circle
          cx="45.6673"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 45.6673 117.333)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 45.6673 102.667)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 45.6673 88.0001)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="73.3335"
          r="1.66667"
          transform="rotate(180 45.6673 73.3335)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 45.6673 45.0001)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 45.6673 16.0001)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 45.6673 59.0001)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 45.6673 30.6668)"
          fill="#13C296"></circle>
        <circle
          cx="45.6673"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 45.6673 1.66683)"
          fill="#13C296"></circle>
        <circle cx="31.0013" cy="132" r="1.66667" transform="rotate(180 31.0013 132)" fill="#13C296"
        ></circle>
        <circle
          cx="31.0013"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 31.0013 117.333)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 31.0013 102.667)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 31.0013 88.0001)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="73.3335"
          r="1.66667"
          transform="rotate(180 31.0013 73.3335)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 31.0013 45.0001)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 31.0013 16.0001)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 31.0013 59.0001)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 31.0013 30.6668)"
          fill="#13C296"></circle>
        <circle
          cx="31.0013"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 31.0013 1.66683)"
          fill="#13C296"></circle>
        <circle cx="16.3333" cy="132" r="1.66667" transform="rotate(180 16.3333 132)" fill="#13C296"
        ></circle>
        <circle
          cx="16.3333"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 16.3333 117.333)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 16.3333 102.667)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 16.3333 88.0001)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="73.3335"
          r="1.66667"
          transform="rotate(180 16.3333 73.3335)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 16.3333 45.0001)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 16.3333 16.0001)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 16.3333 59.0001)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 16.3333 30.6668)"
          fill="#13C296"></circle>
        <circle
          cx="16.3333"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 16.3333 1.66683)"
          fill="#13C296"></circle>
        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#13C296"
        ></circle>
        <circle
          cx="1.66732"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 1.66732 117.333)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 1.66732 102.667)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 1.66732 88.0001)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="73.3335"
          r="1.66667"
          transform="rotate(180 1.66732 73.3335)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 1.66732 45.0001)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 1.66732 16.0001)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 1.66732 59.0001)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 1.66732 30.6668)"
          fill="#13C296"></circle>
        <circle
          cx="1.66732"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 1.66732 1.66683)"
          fill="#13C296"></circle>
      </svg>
    </span>
    <span class="absolute bottom-4 right-4 -z-[1]">
      <svg
        width="48"
        height="134"
        viewBox="0 0 48 134"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="45.6673" cy="132" r="1.66667" transform="rotate(180 45.6673 132)" fill="#3758F9"
        ></circle>
        <circle
          cx="45.6673"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 45.6673 117.333)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 45.6673 102.667)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 45.6673 88.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="73.3333"
          r="1.66667"
          transform="rotate(180 45.6673 73.3333)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 45.6673 45.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 45.6673 16.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 45.6673 59.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 45.6673 30.6668)"
          fill="#3758F9"></circle>
        <circle
          cx="45.6673"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 45.6673 1.66683)"
          fill="#3758F9"></circle>
        <circle cx="31.0006" cy="132" r="1.66667" transform="rotate(180 31.0006 132)" fill="#3758F9"
        ></circle>
        <circle
          cx="31.0006"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 31.0006 117.333)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0006"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 31.0006 102.667)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0006"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 31.0006 88.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="73.3333"
          r="1.66667"
          transform="rotate(180 31.0008 73.3333)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 31.0008 45.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 31.0008 16.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 31.0008 59.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 31.0008 30.6668)"
          fill="#3758F9"></circle>
        <circle
          cx="31.0008"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 31.0008 1.66683)"
          fill="#3758F9"></circle>
        <circle cx="16.3341" cy="132" r="1.66667" transform="rotate(180 16.3341 132)" fill="#3758F9"
        ></circle>
        <circle
          cx="16.3341"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 16.3341 117.333)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3341"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 16.3341 102.667)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3341"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 16.3341 88.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="73.3333"
          r="1.66667"
          transform="rotate(180 16.3338 73.3333)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 16.3338 45.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 16.3338 16.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 16.3338 59.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 16.3338 30.6668)"
          fill="#3758F9"></circle>
        <circle
          cx="16.3338"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 16.3338 1.66683)"
          fill="#3758F9"></circle>
        <circle cx="1.66732" cy="132" r="1.66667" transform="rotate(180 1.66732 132)" fill="#3758F9"
        ></circle>
        <circle
          cx="1.66732"
          cy="117.333"
          r="1.66667"
          transform="rotate(180 1.66732 117.333)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="102.667"
          r="1.66667"
          transform="rotate(180 1.66732 102.667)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="88.0001"
          r="1.66667"
          transform="rotate(180 1.66732 88.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="73.3333"
          r="1.66667"
          transform="rotate(180 1.66732 73.3333)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="45.0001"
          r="1.66667"
          transform="rotate(180 1.66732 45.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="16.0001"
          r="1.66667"
          transform="rotate(180 1.66732 16.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="59.0001"
          r="1.66667"
          transform="rotate(180 1.66732 59.0001)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="30.6668"
          r="1.66667"
          transform="rotate(180 1.66732 30.6668)"
          fill="#3758F9"></circle>
        <circle
          cx="1.66732"
          cy="1.66683"
          r="1.66667"
          transform="rotate(180 1.66732 1.66683)"
          fill="#3758F9"></circle>
      </svg>
    </span>
  </div>
</section>
<!-- ====== Faq Section End -->
