---
import Clients from './Clients.astro';
---

<!-- ====== Hero Section Start -->
<section
  id="home"
  class="bg-hero-image relative h-screen overflow-hidden bg-cover bg-no-repeat pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 mt-10 flex flex-wrap items-center justify-center backdrop-blur-sm">
      <div class="w-full p-4">
        <div
          class="hero-content wow fadeInUp mx-auto max-w-[780px] text-center text-white"
          data-wow-delay=".2s"
        >
          <h1 class="mb-6 text-5xl font-bold leading-snug sm:leading-snug lg:leading-[1.2]">
            International Geographical Union Commission on Agricultural Geography and Land
            Engineering (AGLE) Annual Conference 2025
          </h1>
          <p class="mx-auto mb-9 max-w-[600px] text-2xl font-medium sm:text-lg sm:leading-[1.44]">
            05 November 2025 - Bangkok, Thailand
          </p>
        </div>
      </div>

      <Clients />
    </div>
  </div>
</section>
<!-- ====== Hero Section End -->
