---

---

<!-- ====== Features Section Start -->
<section class="pb-8 pt-20 dark:bg-dark">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-12 max-w-[485px] text-center lg:mb-[70px]">
          <h2
            class="mb-3 text-3xl font-bold text-dark dark:text-white sm:text-4xl md:text-[40px] md:leading-[1.2]"
          >
            Submit Your Paper
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente ab voluptatum,
            provident voluptates vitae facilis possimus.
          </p>
        </div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      <div class="w-1/2 px-4">
        <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
          <div
            class="relative z-10 mb-10 flex h-[70px] w-[70px] items-center justify-center rounded-[14px] bg-primary"
          >
            <span
              class="absolute left-0 top-0 -z-[1] mb-8 flex h-[70px] w-[70px] rotate-[25deg] items-center justify-center rounded-[14px] bg-primary bg-opacity-20 duration-300 group-hover:rotate-45"
            ></span>
            <img src="assets/features/icon-01.svg" alt="icon" />
          </div>
          <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">Theme and Topic</h4>
          <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
            Publication Opportunities: Collaboration with “Journal of Rural Studies” and “Research
            in Globalization”
          </p>
        </div>
      </div>
      <div class="w-1/2 px-4">
        <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
          <div
            class="relative z-10 mb-10 flex h-[70px] w-[70px] items-center justify-center rounded-[14px] bg-primary"
          >
            <span
              class="absolute left-0 top-0 -z-[1] mb-8 flex h-[70px] w-[70px] rotate-[25deg] items-center justify-center rounded-[14px] bg-primary bg-opacity-20 duration-300 group-hover:rotate-45"
            ></span>
            <img src="assets/features/icon-01.svg" alt="icon" />
          </div>
          <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">Papers Format</h4>
          <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
            Length: Maximum 250 words with 6 keywords<br />
            Abstract Submission Deadline: May 30, 2025<br />
            Selection Announcement: June 30, 2025
          </p>
        </div>
      </div>
      <div class="w-1/2 px-4">
        <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
          <div
            class="relative z-10 mb-10 flex h-[70px] w-[70px] items-center justify-center rounded-[14px] bg-primary"
          >
            <span
              class="absolute left-0 top-0 -z-[1] mb-8 flex h-[70px] w-[70px] rotate-[25deg] items-center justify-center rounded-[14px] bg-primary bg-opacity-20 duration-300 group-hover:rotate-45"
            ></span>
            <img src="assets/features/icon-01.svg" alt="icon" />
          </div>
          <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">Mode of Presentation</h4>
          <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, cumque? Blanditiis est
            error, explicabo hic maiores mollitia rerum.
          </p>
        </div>
      </div>
      <div class="w-1/2 px-4">
        <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
          <a
            href="/submission"
            class="inline-flex items-center justify-center rounded-md border border-secondary bg-secondary px-7 py-3 text-center text-base font-medium text-white hover:border-blue-dark hover:bg-blue-dark"
          >
            Submit Here
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ====== Features Section End -->
